# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
venv/
env/
ENV/
.venv/

# =========================
# Django
# =========================
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media & static (if generated)
media/
staticfiles/

# =========================
# Django migrations cache
# =========================
**/migrations/__pycache__/

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Testing
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Celery / Redis
# =========================
celerybeat-schedule
